<div>
  <h1 mat-dialog-title>{{('create_account' | translate) | titlecase}}
    <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
  </h1>
</div>
<mat-dialog-content>
  <mat-card class="card-no-shadow">
    <mat-card-content>
      <form (ngSubmit)="onRegister()" [formGroup]="this.formGrp">
      <mat-form-field class="full-width-field">
        <input matInput #name maxlength="255" formControlName="business_name"  placeholder="{{'business_name' | translate}}">
        <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-select formControlName="business_type"  placeholder="{{'business_type' | translate}}">
          <mat-option *ngFor="let type of this.BusinessTypeList" [value]="type">
            {{ 'type_' + type.toLowerCase() | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <input matInput formControlName="email" #email maxlength="255" type="email" placeholder="{{'email' | translate}}">
        <mat-hint align="end">{{email.value.length}} / 255</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <input matInput formControlName="password" #password maxlength="255" type="password" placeholder="{{'password' | translate}}">
        <mat-hint align="end">{{password.value.length}} / 255</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <input formControlName="passwordreply" matInput #passwordreply maxlength="255" type="password" placeholder="{{'password' | translate}}">
        <mat-hint align="end">{{passwordreply.value.length}} / 255</mat-hint>
      </mat-form-field>
      <button type="submit" [disabled]="!this.formGrp.valid || this.formGrp.value.password !== this.formGrp.value.passwordreply"  mat-flat-button color="primary" >{{'ok_button' | translate}}</button>
      </form>
    </mat-card-content>

  </mat-card>

</mat-dialog-content>
