<div>
  <h1 mat-dialog-title>Yeni Hesap Oluştur
    <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
  </h1>
</div>
<mat-dialog-content style="height: 95vh;">

  <mat-horizontal-stepper #stepper linear >
    <mat-step>
      <ng-template matStepLabel>İşletme</ng-template>
      <mat-card class="card-no-shadow no-padding">
        <mat-card-content>
        <mat-form-field class="full-width-field">
            <input matInput #name maxlength="255" placeholder="İşletme Adı">
            <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <mat-select placeholder="İşletme Sınıfı">
              <mat-option *ngFor="let type of this.BusinessTypeList" [value]="type.$key">
                {{type.name}}
              </mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input matInput #email maxlength="255" type="email" placeholder="E-posta">
            <mat-hint align="end">{{email.value.length}} / 255</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input matInput #phone maxlength="255" type="number" placeholder="Telefon">
            <mat-hint>Ülke kodu ile birlikte. +90</mat-hint>
            <mat-hint align="end">{{phone.value.length}} / 255</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input matInput #password maxlength="255" type="password" placeholder="Şifre">
            <mat-hint align="end">{{password.value.length}} / 255</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input matInput #adress maxlength="255" type="text" placeholder="Adres">
            <mat-hint align="end">{{adress.value.length}} / 255</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <mat-select  placeholder="İl" (selectionChange)="this.getStates('TR', $event.value)">
              <mat-option *ngFor="let city of this.Cities" [value]="city.id">
                {{city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <mat-select placeholder="İlçe">
              <mat-option *ngFor="let state of this.States" [value]="state.id">
                {{state.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>
        <mat-card-footer>
          <div>
            <button mat-button matStepperNext>İleri</button>
          </div>
        </mat-card-footer>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Konum</ng-template>
      <mat-card class="card-no-shadow no-padding">
        <mat-card-content>
          <agm-map [latitude]="lat" [longitude]="lng" style="display: block;"></agm-map>
        </mat-card-content>
        <mat-card-footer>
          <div>
            <button mat-button matStepperPrevious>Geri</button>
            <button mat-button matStepperNext>İleri</button>
          </div>
        </mat-card-footer>
      </mat-card>


    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Onay</ng-template>
      <div>
        <button mat-button matStepperNext>Tamam</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</mat-dialog-content>
