<div>
  <h1 mat-dialog-title>Şifre Hatırlat
    <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
  </h1>
</div>
<mat-dialog-content>
  <mat-card class="card-no-shadow">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          lock_open
        </i>
      </div>
      <mat-card-subtitle>Kayıtlı e-posta adresinize gönderilecek ileti ile şifrenizi güncelleyebilirsiniz.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxflex="100">
          <mat-form-field class="full-width-field">
            <input matInput #number maxlength="11" placeholder="İşletme Kodu">
            <mat-hint align="start"><strong>Lütfen işletme kodunu girin.</strong> </mat-hint>
            <mat-hint align="end">{{number.value.length}} / 11</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <button color="primary" mat-raised-button>TAMAM</button>
        </div>
      </div>



    </mat-card-content>
  </mat-card>
</mat-dialog-content>



