<div>
  <h1 mat-dialog-title>{{'forgot_password' | translate}}
    <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
  </h1>
</div>
<mat-dialog-content>
  <mat-card class="card-no-shadow">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          lock_open
        </i>
      </div>
      <mat-card-subtitle>{{'forgot_pass_message' | translate}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formGrp" (ngSubmit)="onSendResetEmail()">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxflex="100">
          <mat-form-field class="full-width-field">
            <input formControlName="email" matInput #number maxlength="255" placeholder="{{'email' | translate}}">
            <mat-hint align="end">{{number.value.length}} / 255</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <button type="submit" color="primary" mat-raised-button>{{'ok_button' | translate}}</button>
        </div>
      </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>



