 <div>
    <h1 mat-dialog-title>{{(_product ? _product.name : 'product' | translate) | uppercase}}
      <button style="float: right" [mat-dialog-close] mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
      </button>
    </h1>
  </div>

  <form [formGroup]="formGrp" (ngSubmit)="changeOrCrate()">
    <mat-dialog-content>
      <input accept=".jpg, .png, .jpeg, .bmp" #fileUpload fxShow="false"  (change)="photoSelected($event)" id="input-file-id" type="file" />
      <mat-card mat-dialog-content class="card-no-shadow">
        <mat-card-content>
          <img (click)="fileUpload.click()"  [src]="this.formGrp.value.image || 'https://via.placeholder.com/150x150?text=Select'"   style="height: 150px; margin: auto; display: block; cursor: pointer;">
          <div class="centered-text" style="margin-top:5px; margin-bottom:5px;">
            <a [fxShow]="_image !== null" color="warn" mat-button (click)="deletePhoto(fileUpload)">
              <i class="material-icons">
              delete
            </i>{{'delete_selected_photo' | translate}}</a>
          </div>

          <mat-form-field class="full-width-field">
            <input type="text" #category placeholder="{{'category' | translate}}"  matInput formControlName="category" [matAutocomplete]="auto">
            <mat-hint align="start"> </mat-hint>
            <mat-hint align="end">{{category.value.length}} / 120</mat-hint>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let category of _categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input formControlName="name" type="text" matInput #name maxlength="255" placeholder="{{'name' | translate}}">
            <mat-hint align="start"> </mat-hint>
            <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input type="text" formControlName="price" matInput  placeholder="{{'price' | translate}} ({{'tax_included' | translate}})">
          </mat-form-field>

          <mat-form-field class="full-width-field">
            <input type="number" formControlName="tax" matInput  placeholder="{{'tax' | translate}} (%)">
          </mat-form-field>

        </mat-card-content>

      </mat-card>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <div>
          <button color="primary" type="submit" mat-flat-button>{{'ok_button' | translate}}</button>
        </div>
        <div>
          <button mat-button [mat-dialog-close]>{{'cancel_button' | translate}}</button>
        </div>
      </div>
    </div>
  </form>

