<div style="height: calc(100vh - 64px);">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
            Maya Kafe Restorant
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item> <mat-icon>assignment_ind</mat-icon> Hesabım</button>
          <button mat-menu-item><mat-icon>exit_to_app</mat-icon> Oturumu Kapat</button>
        </mat-menu>
      </div>

      <div fxShow="true" fxFlex="100" fxLayout="row" fxLayoutAlign="end">
        <img routerLink="/home" style="height: 40px; cursor: pointer;" src="./assets/img/meerkats_logo.png"/>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
       <mat-card fxShow.xs="false" style="transition: none !important; box-shadow: none !important;">
          <mat-card-header>
            <img mat-card-avatar src="https://via.placeholder.com/150x150"/>
            <mat-card-title>Maya Kafe - Restorant</mat-card-title>
            <mat-card-subtitle>İşletme No: 16235132</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content></mat-card-content>
        </mat-card>
      <mat-divider></mat-divider>

      <mat-nav-list>
        <a routerLink="/tables" class="navmenu-item" mat-list-item>
          <mat-icon svgIcon="table-svg"></mat-icon>
          <span class="navbar-menu-title"  fxShow.xs="false">Masa Yönetimi</span>
        </a>
        <a routerLink="/employees" class="navmenu-item" mat-list-item>
          <mat-icon svgIcon="employee-svg"></mat-icon>
          <span class="navbar-menu-title" fxShow.xs="false">Personel</span>
        </a>
        <a routerLink="/products" class="navmenu-item" mat-list-item>
          <mat-icon svgIcon="cutlery-svg"></mat-icon>
          <span class="navbar-menu-title" fxShow.xs="false">Ürün</span>
        </a>
        <a class="navmenu-item" style="opacity: 0.5;" mat-list-item>
          <mat-icon svgIcon="growth-svg"></mat-icon>
          <span class="navbar-menu-title" fxShow.xs="false">Rapor & İstatistik</span>
        </a>

        <a class="navmenu-item" routerLink="/kitchen" mat-list-item>
          <mat-icon svgIcon="chef-svg"></mat-icon>
          <span class="navbar-menu-title" fxShow.xs="false">Mutfak Modu</span>
        </a>

        <a  class="navmenu-item"  routerLink="/home" mat-list-item>
          <mat-icon svgIcon="pos-svg"></mat-icon>
          <span class="navbar-menu-title" fxShow.xs="false">Kasa Modu</span>
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <router-outlet class="hidden-router"></router-outlet>
  </mat-sidenav-container>
</div>




