.header{
  background: #ffffff;
  color: #737373;
  border-bottom: 1px solid #e0e0e0;
}

.header .logo{
  width: 40px;
  height: auto;
}
.header-fullname{
  padding:5px;
}
.fab-btn{
   position: absolute !important;
   z-index: 1 !important;
   bottom:50px;
   right: 10px;
 }

.mat-drawer{
  background: #ffffff;
}
.mat-drawer-content{
  background:#FFFFFF;
}
.payment_mode_btn{
  background:#FF7D7D !important;
  color: rgba(0, 0, 0, 0.4196078431372549) !important;
}
.kitchen_mode{
  background: #FCDF2E !important;
  color: rgba(0, 0, 0, 0.4196078431372549) !important;
}
.navbar-menu-title {
  padding:25px !important;
}
.navmenu-item{
  color:#666666 !important;
}
.mat-drawer{
    height: 100vh;
  }
.main-logo-btn{
  transition: none !important; box-shadow: none !important; cursor: pointer; outline: 1px solid #666666; outline: 0px auto -webkit-focus-ring-color;
}
