<div class="login">
  <div align="center">
    <img src="../../assets/img/logo.png">
  </div>
  <mat-form-field  color="warn" class="full-width-field">
    <input matInput  placeholder="İşletme Kodu">
  </mat-form-field>
  <mat-form-field class="full-width-field">
    <input matInput type="password" placeholder="Şifre">
  </mat-form-field>

  <button class="background-accent-color"  mat-flat-button >Oturum Aç</button>
  <div align="right">
    <button mat-button>Şifremi Unuttum!</button>
  </div>
</div>

