<mat-card *ngIf="(employees | async)?.length !== 0" class="card-no-shadow">
  <mat-card-content>
    <table mat-table [dataSource]="employees | async" fxFlex="100">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> {{'lastname' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="username" ngClass.sm="hide" ngClass.xs="hide">
        <th mat-header-cell *matHeaderCellDef  ngClass.sm="hide" ngClass.xs="hide"> {{'username' | translate}} </th>
        <td mat-cell *matCellDef="let element" ngClass.sm="hide" ngClass.xs="hide"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="permissions" ngClass.sm="hide" ngClass.xs="hide">
        <th mat-header-cell *matHeaderCellDef ngClass.sm="hide" ngClass.xs="hide"> {{'permission' | translate}} </th>
        <td mat-cell *matCellDef="let element" ngClass.sm="hide" ngClass.xs="hide">
          <mat-label style="background: #80cbc4; color: #ffff; padding: 3px; margin: 3px; font-size:12px;" *ngFor="let _permission of element.permissions"> {{'permission_' + _permission | translate}} </mat-label>
        </td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="actionsColumn">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" class="right-text">
          <button (click)="onDelete(element)"  rel="delete_btn" mat-button color="warn">{{'delete_button' | translate}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr  (click)="onPersonModal(row)" mat-row class="button-table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="(employees | async)?.length === 0" class="card-no-shadow">
  <mat-card-content>
    <mat-label>{{'employee' | translate}} {{'not_found' | translate}}</mat-label>
  </mat-card-content>
</mat-card>
<button mat-fab class="fab-btn" color="primary" (click)="onPersonModal(null)"> <mat-icon svgIcon="add-svg"></mat-icon></button>
