body { margin:0px;}
.full-width-field { width: 100%; }

.primary-color {
  color: #3F51B5!important;
}
.accent-color {
  color: #FF4081!important;
}
.background-primary-color {
  background-color: #3F51B5!important;
}
.background-accent-color {
  background-color: #87D458!important;
}
.white-text {
  color: #FFF!important;
}
.mat-focused .mat-form-field-label {
  color: #666666 !important;
}

.mat-form-field-ripple {
  background-color: #666666 !important;
}
