body {
  margin:0px; overflow: hidden;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-nav-list .mat-list-item:disabled{
  opacity: 0.5 !important;
}
.mat-snack-bar-container.success {
  background: #80CBC4;
}

.mat-snack-bar-container.success .mat-simple-snackbar {
  color: #FFFFFF;
}
.mat-snack-bar-container.success .mat-simple-snackbar .mat-button {
  background: #9ee2dc;
  padding: 0px !important;
  width: 50px !important;
  min-width: 50px !important;
}

.mat-snack-bar-container.success .mat-simple-snackbar .mat-button-wrapper {
  color: #4d9a93;
}

.full-width-field { width: 100%; }

.card-no-shadow{
  transition: none !important;
  box-shadow: none !important;
}
.white-text {
  color: #FFF!important;
}
.mat-focused .mat-form-field-label {
  color: #666666 !important;
}

.mat-form-field-ripple {
  background-color: #666666 !important;
}

.sm-icon{
  height:18px !important;
}
