body {
  margin:0px; overflow: hidden;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide {
  display:none !important;
}
.fullscreen{
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100vw;
  height: 100vh;
}

.min-with_0{
  min-width: 0px !important;
}
.fab-btn.mat-fab{
  position:  fixed !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dadbdc;
}

.button-table-row:hover{
  background: #fbfbfb;
  cursor: pointer;
}

.mat-nav-list .mat-list-item:disabled{
  opacity: 0.5 !important;
}
.mat-snack-bar-container.success {
  background: #80CBC4;
}

.mat-snack-bar-container.success .mat-simple-snackbar {
  color: #FFFFFF;
}
.mat-snack-bar-container.success .mat-simple-snackbar .mat-button {
  background: #9ee2dc;
  padding: 0px !important;
  width: 50px !important;
  min-width: 50px !important;
}

.mat-snack-bar-container.success .mat-simple-snackbar .mat-button-wrapper {
  color: #4d9a93;
}

.no-padding {
  padding: 0px !important;
}
.full-width-field { width: 100%; }

.card-no-shadow{
  transition: none !important;
  box-shadow: none !important;
}
.no-margin {
  margin:0px !important;
}
.white-text {
  color: #FFF!important;
}
.centered-text{
  text-align: center !important;
}
.left-text {
  text-align: left !important;
}
.right-text {
  text-align: right !important;
}
.mat-focused .mat-form-field-label {
  color: #666666 !important;
}

.mat-form-field-ripple {
  background-color: #666666 !important;
}

.sm-icon{
  height:18px !important;
}

/* Tables */
.table-card{
  margin-bottom:20px;
  width: 250px;
}

.table-card .mat-card-footer{
  color:#FFFFFF;
  font-size:14px;
  padding:5px;
}
.table-card .mat-card-footer.closed{
  background:#FF7D7D;
}
.table-card .mat-card-footer.opened{
  background:#80CBC4;
}
.table-card .mat-card-title .busy-time{
  position: absolute;
  top: 10px;
  right: 10px;
}
.table-card:hover {
  cursor:pointer;
  box-shadow: 0 10px 15px -2px rgba(0,0,0,.2), 0 10px 15px 0 rgba(0,0,0,.14), 0 10px 15px 0 rgba(0,0,0,.12) !important;
}

.snack_success.mat-snack-bar-container
{
  background: #80cbc4 !important;
}
.snack_success.mat-snack-bar-container > .mat-simple-snackbar > .mat-simple-snackbar-action
{
  color: #4ea19a !important;
}

.snack_error.mat-snack-bar-container
{
  background: #ffa3a3 !important;
}
.snack_error.mat-snack-bar-container > .mat-simple-snackbar > .mat-simple-snackbar-action
{
  color: #c05c5c !important;
}

.snack_warning.mat-snack-bar-container
{
  background: #ffeaa7 !important;
  color: #c09611 !important;
}
.snack_warning.mat-snack-bar-container > .mat-simple-snackbar > .mat-simple-snackbar-action
{
  color:  #c09611 !important;
}

