<div fxLayout="row wrap" fxLayoutGap="5px">

  <mat-form-field class="full-width-field">
    <input type="number" matInput placeholder="Adet" value="{{quantity}}">
  </mat-form-field>

  <div *ngFor="let numb of numbs" class="numbs" fxFlex.xs="30"  fxFlex.sm="30" fxFlex="30">
    <button (click)="onClickNumb(numb)" fxFill class="numb" data-value="{{numb}}" mat-raised-button>{{numb}}</button>
  </div>

  <div class="numbs" fxFlex.xs="30" fxFlex.sm="30" fxFlex="30">
    <button fxFill class="numb" mat-raised-button>Sil</button>
  </div>
  <div class="numbs" fxFlex.xs="30" fxFlex.sm="30" fxFlex="30">
    <button fxFill class="numb" mat-raised-button>Tamam</button>
  </div>

</div>
