<div>
  <h1 mat-dialog-title>{{'employee_navbar' | translate}}
    <button style="float: right" [mat-dialog-close] mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
  </h1>
</div>
<form [formGroup]="this.frmGrp" (ngSubmit)="onCreateOrUpdate()">
  <mat-dialog-content>
    <mat-card mat-dialog-content class="card-no-shadow">
      <mat-card-content>
        <mat-form-field class="full-width-field">
          <mat-select formControlName="permissions" placeholder="{{'permission' | translate}}"  multiple>
            <mat-option *ngFor="let permission of permissions" value="{{permission}}">{{'permission_' + permission | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <input formControlName="name" type="text" matInput #name maxlength="255" placeholder="{{'name' | translate}}">
          <mat-hint align="start"> </mat-hint>
          <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <input type="text" formControlName="lastname"  matInput #lastname maxlength="255" placeholder="{{'lastname' | translate}}">
          <mat-hint align="start"> </mat-hint>
          <mat-hint align="end">{{lastname.value.length}} / 255</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <input type="text" matInput formControlName="username"  #username maxlength="255" placeholder="{{'username' | translate}}">
          <mat-hint align="start"> </mat-hint>
          <mat-hint align="end">{{username.value.length}} / 255</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width-field">
          <input type="password" matInput formControlName="password" #password maxlength="255" placeholder="{{'password' | translate}}">
          <mat-hint align="start"> </mat-hint>
          <mat-hint align="end">{{password.value.length}} / 255</mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div>
        <button type="submit" color="primary" mat-flat-button>{{'ok_button' | translate}}</button>
      </div>
      <div>
        <button mat-button [mat-dialog-close]>{{'cancel_button' | translate}}</button>
      </div>
    </div>
  </div>
</form>

