<mat-tab-group>
  <mat-tab  label="İçecek(20)">
    <mat-card>
      <mat-card-title>İçecek</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap"  fxLayoutGap="10px">


        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab  label="Tatlı(10)">
    <mat-card>
      <mat-card-title>Tatlı</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap"  fxLayoutGap="10px"></div>
      </mat-card-content>
    </mat-card>
  </mat-tab>


  <mat-tab  label="Salata(20)">
    <mat-card>
      <mat-card-title>Salata</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap"  fxLayoutGap="10px">


        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>



</mat-tab-group>
<button mat-fab class="fab-btn" color="primary" (click)="openDialog()"> <mat-icon svgIcon="add-svg"></mat-icon></button>




