<mat-card *ngIf="(products | async)?.length === 0" class="card-no-shadow">
  <mat-card-content>
    <mat-label>{{'product' | translate}} {{'not_found' | translate}}</mat-label>
  </mat-card-content>
</mat-card>

<mat-tab-group>
  <mat-tab *ngFor="let category of categories" label="{{category}}">
    <mat-card class="card-no-shadow product">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="10px">
            <mat-card *ngFor="let product of products | async | filter: 'category' : category" style="max-width: 200px; text-align: center;">
                <mat-card-header style="width: 100%; text-align: center">
                  <mat-card-title>{{product.name}}</mat-card-title>
                  <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{product.image || '../../assets/img/no-photo.png'}}">
                <mat-card-content>
                    <h3>{{product.price | currency: true : ''}} ₺</h3>
                </mat-card-content>
                <mat-card-actions>
                  <button (click)="onProduct(product)" mat-button color="primary">{{'edit_button' | translate}}</button>
                  <button (click)="onDelete(product)" mat-button color="warn">{{'delete_button' | translate}}</button>
                </mat-card-actions>
              </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<button mat-fab class="fab-btn" color="primary" (click)="onProduct()"> <mat-icon svgIcon="add-svg"></mat-icon></button>


