<div fxLayout="column" style="height: 95vh;">

  <div>
    <h1 mat-dialog-title>Masa 1523415
      <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
      </button>
    </h1>
  </div>

  <div  mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Yeni Sipariş">
        <mat-card>
          <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Sıcak İçeçekler">
              <mat-card>
                <mat-card-title>Sıcak İçeçekler</mat-card-title>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip (click)="onQuantityModal()" >Sıcak Çikolata<b>(8.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Demleme Çay-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Türk Kahvesi- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Sıcak Çikolata<b>(8.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Demleme Çay-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Türk Kahvesi- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Sıcak Çikolata<b>(8.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Demleme Çay-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip (click)="onQuantityModal()">Türk Kahvesi- <b>(5.0 TL)</b></mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="Tatlılar">
              <mat-card>
                <mat-card-title>Tatlılar</mat-card-title>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Tiremusu<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Cheesecake-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Elmalı Tart- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Tiremusu<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Cheesecake-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Elmalı Tart- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Tiremusu<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Cheesecake-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Elmalı Tart- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Cheesecake-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Elmalı Tart- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Tiremusu<b>(8.0 TL)</b></mat-chip>
                  </mat-chip-list>

                </mat-card-content>
              </mat-card>

            </mat-tab>
            <mat-tab label="Alkollü İçecekler">
              <mat-card>
                <mat-card-title>Alkollü İçecekler</mat-card-title>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip>Bira 30cc<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Bira 50cc-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Viski- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Vodka<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Yeni Rakı 30cc-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Viski- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Bira 30cc<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Bira 50cc-<b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Viski- <b>(5.0 TL)</b></mat-chip>
                    <mat-chip>Vodka<b>(8.0 TL)</b></mat-chip>
                    <mat-chip>Yeni Rakı 30cc-<b>(5.0 TL)</b></mat-chip>
                  </mat-chip-list>

                </mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
          </mat-card-content>
          </mat-card>
      </mat-tab>
      <mat-tab label="Adisyon">
        <mat-card>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" fxFill="100">
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <div fxLayout="row wrap">
                    <div fxFlex="auto" fxFlexOrder="1">
                      <button color="primary"  mat-icon-button>
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                    <div fxFlex="auto" fxFlexOrder="2">
                      <h2>2</h2>
                    </div>
                    <div fxFlex="auto" fxFlexOrder="3">
                      <button color="warn"  mat-icon-button>
                        <i class="material-icons">remove</i>
                      </button>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Ürün </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Fiyat </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>
              <ng-container matColumnDef="process">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button color="warn"  mat-icon-button>
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>

      </mat-tab>
      <mat-tab label="Ödeme">
          <mat-card>
             <mat-card-content>
               <mat-accordion >
                 <mat-expansion-panel [expanded]="true">
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                       Siparişler
                     </mat-panel-title>
                     <mat-panel-description></mat-panel-description>
                   </mat-expansion-panel-header>
                   <table mat-table [dataSource]="dataSource" fxFill="100">
                     <ng-container matColumnDef="unit">
                       <th mat-header-cell *matHeaderCellDef></th>
                       <td mat-cell *matCellDef="let element;  let i = index">
                         <div fxLayout="row wrap">
                           <div fxFlex="auto" fxFlexOrder="1">
                             <button (click)="onUpdatePaymentItem(+1,i)" color="primary"  mat-icon-button>
                               <i class="material-icons">add</i>
                             </button>
                           </div>
                           <div fxFlex="auto" fxFlexOrder="2">
                             <h2>{{element.unit}}</h2>
                           </div>
                           <div fxFlex="auto" fxFlexOrder="3">
                             <button (click)="onUpdatePaymentItem(-1,i)" color="warn"  mat-icon-button>
                               <i class="material-icons">remove</i>
                             </button>
                           </div>
                         </div>
                       </td>
                     </ng-container>
                     <ng-container matColumnDef="name">
                       <th mat-header-cell *matHeaderCellDef> Ürün </th>
                       <td mat-cell *matCellDef="let element" ngClass="{{element.unit === 0 ? 'no-select' : ''}}"> {{element.name}} </td>
                     </ng-container>
                     <ng-container matColumnDef="price">
                       <th mat-header-cell *matHeaderCellDef> Fiyat </th>
                       <td mat-cell *matCellDef="let element" class="{{element.unit === 0 ? 'no-select' : ''}}"> {{element.price}} TL. </td>
                     </ng-container>
                     <ng-container matColumnDef="process">
                       <th mat-header-cell *matHeaderCellDef></th>
                       <td mat-cell *matCellDef="let element">
                         <button color="warn" (click)="removeItem(element)" mat-icon-button>
                           <i class="material-icons">delete</i>
                         </button>
                       </td>
                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                   </table>
                 </mat-expansion-panel>
                 <mat-expansion-panel>
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                       Ödeme
                     </mat-panel-title>
                     <mat-panel-description></mat-panel-description>
                   </mat-expansion-panel-header>

                   <div fxLayout="column" fxLayoutGap="20px">
                     <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="70">
                       <mat-form-field style="width: 400px">
                         <mat-select placeholder="Ödeme Şekli">
                           <mat-option value="Nakit">Nakit</mat-option>
                           <mat-option value="Kredi Kartı">Kredi Kartı</mat-option>
                           <mat-option value="Ticket">Ticket</mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>
                     <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="70">
                       <mat-checkbox (change)="onChangePriceDown()" formControlName="hideRequired">İndirim Uygula</mat-checkbox>
                     </div>
                     <div *ngIf="showPriceDown"  fxFlex="50" fxFlex.xs="100" fxFlex.sm="70">
                       <mat-form-field style="width: 400px">
                         <mat-select placeholder="İndirim">
                           <mat-option value="%">Yüzdelik</mat-option>
                           <mat-option value="Tutar">Tutar</mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>
                     <div *ngIf="showPriceDown" fxFlex="50" fxFlex.xs="100" fxFlex.sm="70">
                       <mat-form-field style="width: 400px">
                         <input matInput placeholder="Tutar veya Oran" type="number" value="0">
                       </mat-form-field>
                     </div>

                     <div fxLayout="row">

                       <div fxFlex="auto">
                         Tahsil Edilecek : <h2>35.99 TL</h2>
                       </div>
                       <div fxFlex="auto">
                         Uygulanan İndirim : <h2 class="mat-primary">0.0 TL</h2>
                       </div>
                     </div>


                     <div fxFlex="100" style="margin-top:30px;"></div>
                     <div fxFlex="100">
                       <button color="primary" mat-button>TAMAM</button>
                       <button mat-button [mat-dialog-close]="true">KAPAT</button>
                     </div>
                   </div>
                 </mat-expansion-panel>
               </mat-accordion>
             </mat-card-content>
          </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div fxFlex fxShrink="0" fxGrow="1"></div>
  <div mat-dialog-actions class="order-footer">
    <div fxLayout="row" fxFill fxFlexFill fxLayoutGap="10px">
      <div fxFlex="auto">
        <mat-card>
          <mat-card-title>Toplam Tutar</mat-card-title>
          <mat-card-content>
            <h2>200.00 TL</h2>
          </mat-card-content>
        </mat-card>

      </div>
      <div fxFlex="auto">
        <mat-card>
          <mat-card-title>Tahsil Edilen Tutar</mat-card-title>
          <mat-card-content>
            <h2>200.00 TL</h2>
          </mat-card-content>
        </mat-card>

      </div>
      <div fxFlex="auto">
        <mat-card>
          <mat-card-title>Kalan Tutar</mat-card-title>
          <mat-card-content>
            <h2>200.00 TL</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
