.mat-column-process{
  max-width: 100px;
  width:100px;
}
.mat-column-process button{
  margin-top:5px;
}
.mat-column-process td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-typee{
  pading-left:0px !important;
}
.order-footer{
width: 100%;
  margin-top:10px;
}
