<h1 mat-dialog-title>Masa
  <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
  </button>
</h1>
<mat-dialog-content>
  <mat-card class="card-no-shadow">
    <mat-card-content>
      <p>Yeni masa eklemek için lütfen tüm alanları eksiksiz doldurunuz.</p>
      <mat-form-field class="full-width-field">
        <input type="text" placeholder="Masa konumu seçin" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <input type="number" placeholder="Sandalye (Kapasite)" aria-label="Number" matInput>
      </mat-form-field>

      <mat-form-field class="full-width-field">
        <input type="text" matInput #number maxlength="11" placeholder="Masa No">
        <mat-hint align="start"><strong>En fazla 11 karakter olabilir.</strong> </mat-hint>
        <mat-hint align="end">{{number.value.length}} / 11</mat-hint>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-button>TAMAM</button>
      <button mat-button [mat-dialog-close]="true">KAPAT</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>



