<div fxLayout="column" style="height: 95vh;">

    <div>
      <h1 mat-dialog-title>{{'location' | translate}}:
        <button style="float: right" [mat-dialog-close]="true" mat-icon-button>
          <mat-icon aria-label="">clear</mat-icon>
        </button>
      </h1>
    </div>
  
    <div mat-dialog-content style="max-height: 100vh; padding:0px; margin:0px;position: relative;">
            <agm-map
            (mapClick)="this.addMarker($event)"
            [zoom]="this.zoom"
            [latitude]="this.cordi.latitude"
            [longitude]="this.cordi.longitude"
            [streetViewControl]="false"
            style="display: block;  width: 100%; height: calc(100vh - 200px)">
            <agm-marker *ngFor="let m of markers; let i = index"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable">
             </agm-marker>
          </agm-map>
          <button style="margin-top:20px;" mat-flat-button (click)="onUpdateLocation();"  color="primary">{{'ok_button' | translate}}</button>
    </div>
</div>