.table-card{
  margin-bottom:20px;
  width: 250px;
}

.table-card .mat-card-footer{
  color:#FFFFFF;
  font-size:14px;
  padding:5px;
}
.table-card .mat-card-footer.closed{
  background:#FF7D7D;
}
.table-card .mat-card-footer.opened{
  background:#80CBC4;
}
.table-card .mat-card-title .busy-time{
  position: absolute;
  top: 10px;
  right: 10px;
}
.table-card:hover {
  cursor:pointer;
  box-shadow: 0 10px 15px -2px rgba(0,0,0,.2), 0 10px 15px 0 rgba(0,0,0,.14), 0 10px 15px 0 rgba(0,0,0,.12);
}
