
  <div fxLayout="row wrap"  fxLayoutGap="10px">

    <mat-card mat-button (click)="orderModal()" fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button >SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>58.99 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>25.75 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>58.99 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>25.75 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>25.75 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>58.99 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title><h2>Masa No: 1232</h2> </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="available">
        <div>Müsait</div>
        <div fxFlex></div>
        <div>0.0 TL</div>
      </mat-card-footer>
    </mat-card>

    <mat-card  fxFlex.xs="100" fxFlex.sm="45" class="table-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Masa No: 1232</h2>
          <label class="busy-time">29 Dk.</label>
        </mat-card-title>
        <mat-card-subtitle>Bahçe </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button   mat-button>HESAP</button>
        <div fxFlex></div>
        <button mat-button (click)="orderModal()">SİPARİŞ EKLE</button>
      </mat-card-actions>
      <mat-card-footer class="busy">
        <div>Dolu</div>
        <div fxFlex></div>
        <div>25.75 TL</div>
      </mat-card-footer>
    </mat-card>


  </div>



