<mat-card *ngIf="!this.auth.afAuth.auth.currentUser?.emailVerified" class="card-no-shadow">
  <mat-card-content>
      <h2>{{'verify_email_message_title' | translate}}</h2>
      <p>{{'verify_email_message' | translate}}</p>
      <button mat-flat-button (click)="reSendVerifyEmail()" color="primary">{{'resend_mail_button' | translate}}</button>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>

<div fxLayout="row wrap" fxFill fxLayoutAlign="start" fxLayoutGap="20px">

  <mat-card class="card-no-shadow" fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-content>
      <form [formGroup]="this.frmGroup">

        <div>
          <mat-card-title>{{'business' | translate}}</mat-card-title>
          <mat-form-field class="full-width-field">
            <input matInput #name maxlength="255" formControlName="business_name" placeholder="{{'business_name' | translate}}">
            <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <!–– TODO dil seçeneği değiştirildiğinde burdaki durumda değiştirilmeli firebase'den gelen veri sabit bu durumda  düşünülmeli––>
            <mat-select formControlName="business_type" placeholder="{{'business_type' | translate}}">
              <mat-option *ngFor="let type of business_types" [value]="type | translate">
                {{type | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <input matInput #phone maxlength="255" formControlName="phone" type="number" placeholder="{{'phone' | translate}}">
            <mat-hint>Ülke kodu ile birlikte. +90</mat-hint>
            <mat-hint align="end">{{phone.value.length}} / 255</mat-hint>
          </mat-form-field>
        </div>

        <mat-divider style="display: block; position: inherit; margin-top: 25px; margin-bottom: 25px;"></mat-divider>

        <div>
          <mat-card-title>{{'adress' | translate}}</mat-card-title>
          <div formGroupName="location">
            <app-province #provinces (_loadEnd)="this.spinner.hide();" (_selectedChange)="onSelectChangeProvince($event)" [_FormControlName]="'province'" [_FormGroupName]="'location'" ></app-province>
            <app-district (_selectedChange)="onSelectChangeDistrict($event)" (_loadEnd)="this.spinner.hide();" [_FormControlName]="'district'" [_FormGroupName]="'location'" [country_id]="'TR'" [province_id]="provinces.selectedProvince?.id || 0"></app-district>
            <mat-form-field class="full-width-field">
              <input matInput formControlName="adress" #adress maxlength="255" type="text" placeholder="{{'adress' | translate}}">
              <mat-hint align="end">{{adress.value.length}} / 255</mat-hint>
            </mat-form-field>
          </div>
        </div>



      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <mat-card class="card-no-shadow">
          <mat-card-content>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="start">
              <button [disabled]="!this.frmGroup.valid" fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="3" fxFlex.xl="5" mat-flat-button  color="primary" (click)="onChangeAccount()">{{'ok_button' | translate}}</button>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="end end" align="right">
              <button  mat-raised-button> {{'change_email' | translate}}</button>
              <button (click)="onResetPassword()" mat-raised-button> {{'change_password' | translate}}</button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

</div>


<!--
<mat-tab [disabled]="!this.frmGroup.value.location.province?.id || !this.frmGroup.value.location.district?.id" label="{{'location' | translate}}">
 <mat-card class="card-no-shadow no-padding">
   <mat-card-content>
     <agm-map
       (mapClick)="this.mapClicked($event)"
       [zoom]="this.zoom"
       [latitude]="this.cordi.latitude"
       [longitude]="this.cordi.longitude"
       [streetViewControl]="false"
       style="display: block; width: 100vw; height: calc(100vh - 245px)">
       <agm-marker
         *ngFor="let m of markers; let i = index"
         [latitude]="m.lat"
         [longitude]="m.lng"
         [label]="m.label"
         [markerDraggable]="m.draggable">
       </agm-marker>
     </agm-map>
     <button mat-fab class="fab-btn" color="primary" (click)="onUpdateLocation()"> <i class="material-icons"> save </i></button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
-->

