<mat-card class="card-no-shadow">
  <mat-card-content>
    <h2>Maya Kafe / Restoran</h2>
  </mat-card-content>
</mat-card>
<mat-tab-group>
  <mat-tab label="{{'business' | translate}}">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="card-no-shadow">
        <mat-card-content>
          <h2>{{'business' | translate}}</h2>
          <mat-form-field class="full-width-field">
            <input matInput #name maxlength="255" placeholder="{{'business_name' | translate}}">
            <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <!–– TODO dil seçeneği değiştirildiğinde burdaki durumda değiştirilmeli firebase'den gelen veri sabit bu durumda  düşünülmeli––>
            <mat-select placeholder="{{'business_type' | translate}}">
              <mat-option *ngFor="let type of this.BusinessTypeList" [value]="type.$key">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <input matInput #email maxlength="255" type="email" placeholder="{{'email' | translate}}">
            <mat-hint align="end">{{email.value.length}} / 255</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <input matInput #phone maxlength="255" type="number" placeholder="{{'phone' | translate}}">
            <mat-hint>Ülke kodu ile birlikte. +90</mat-hint>
            <mat-hint align="end">{{phone.value.length}} / 255</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="card-no-shadow">
        <mat-card-content>
          <h2>{{'adress' | translate}}</h2>
          <mat-form-field class="full-width-field">
            <input matInput #adress maxlength="255" type="text" placeholder="{{'adress' | translate}}">
            <mat-hint align="end">{{adress.value.length}} / 255</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <mat-select  placeholder="{{'state' | translate}}" (selectionChange)="this.getStates('TR', $event.value)">
              <mat-option *ngFor="let city of this.Cities" [value]="city.id">
                {{city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <mat-select placeholder="{{'city' | translate}}" (selectionChange)="this.getCordinates($event.value)">
              <mat-option *ngFor="let state of this.States" [value]="state.name">
                {{state.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-tab>
  <mat-tab label="{{'location' | translate}}">
    <mat-card class="card-no-shadow no-padding">
      <mat-card-content>
        <agm-map
          (mapClick)="this.mapClicked($event)"
          [zoom]="this.zoom"
          [latitude]="this.cordi.latitude"
          [longitude]="this.cordi.longitude"
          [streetViewControl]="false"
          style="display: block; width: 100vw; height: calc(100vh - 245px)">
          <agm-marker
            *ngFor="let m of markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable">
          </agm-marker>
        </agm-map>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{'password_reset' | translate}}">
    <mat-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="15"  class="card-no-shadow">
      <mat-card-content>
        <mat-form-field class="full-width-field">
          <input matInput #password maxlength="255" type="password" placeholder="{{'password' | translate}}"/>
          <mat-hint align="end">{{password.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width-field">
          <input matInput #newpass maxlength="255" type="password" placeholder="{{'new_password' | translate}}"/>
          <mat-hint align="end">{{newpass.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width-field">
          <input matInput #replypass maxlength="255" type="password" placeholder="{{'reply_password' | translate}}"/>
          <mat-hint align="end">{{replypass.value.length}} / 255</mat-hint>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
<mat-card class="card-no-shadow no-padding">
  <mat-card-content style="padding:10px">
    <button fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="3" fxFlex.xl="5" mat-flat-button  color="primary" (click)="onChangeAccount()">{{'ok_button' | translate}}</button>
  </mat-card-content>
</mat-card>



